*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

   /*Aquí comienza el Header de la pagina*/
.header{
    width: 100%;
    height: 7vh;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header span{
    font-size: 25px;
    font-weight: 700;
    color: orange

}

.header .nav{
    display: flex;
    gap: 30px;
}

.header .nav a {
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-weight: 600;
}

.header .nav-mobile{
    display:none;
}
 /*Aquí comienza la sección uno de la pagina*/
.seccion-uno {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img.jpg);
    background-position: center;
    background-size: cover;
    width:100%;
    min-height: 90vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    gap: 15px;
    
}

.seccion-uno .pUno{
    font-size: 100px;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
}
.seccion-uno .pDos{
    font-size: 60px;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
}

.seccion-uno a {

    border: 2px solid orange;
    background-color: orange;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: 900;
}
/*Aquí termina la sección uno de la pagina*/

/*Aquí comienza la sección dos de la pagina*/
.seccion-dos{
   
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
    background-color:white;

}

.seccion-dos .titulouno{
    width: 100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;  
}

.seccion-dos .espacioUno {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.seccion-dos .espacioUno .card{
    width: 300px;
    height: 350px;
    /*border: 2px solid black;*/
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    
}

.seccion-dos .card img {
    width: 50%;
    border-radius: 50%;
}

/*Aquí comienza la sección tres de la pagina*/

.seccion-tres{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color:gray;;

}

.seccion-tres .titulodos{
    width: 100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;  
    padding-bottom: 30px;
}
.seccion-tres .espacioDos{
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 1px;
   

}

.seccion-tres .cartas{
    
    width: 350px;
    height: 250px;
    border: 1px solid black;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    
    gap: 10px;
    background-color: white;
   
    
}
.seccion-tres .cartas img {
    width: 100%;
   
}

/*Aquí termina la sección tres de la pagina*/

/*Aquí comienza la sección cuatro de la pagina*/

.seccion-cuatro{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color:gray;;

}



.seccion-cuatro .titulotres{
    width: 100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;  
    margin-bottom: 40px;
}

.seccion-cuatro .espacioTres{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;

  
}
.seccion-cuatro .contactos{
    width: 300px;
    height: auto;
    /*border: 2px solid black;*/
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    
}

.seccion-cuatro .contactos img {
    width: 100%;
    height: 80%;
    border-radius: 50%;
}
/*Aquí termina la sección cuatro de la pagina*/

/*Pie de pagína*/

.pie{
    width: 100%;
    background-color: white;
    text-align: center;
    display:flex;
    justify-content: center;

}
/*Termina pie de pagína*/

/*MediaQueries*/
@media (width<  950px) {
    .seccion-uno .pUno {
        text-align: center;
        font-size: auto;
    }
    .seccion-uno .pDos {
        text-align:center;
        font-size: auto;
    }
}

@media (width<500px){
    .header .nav-mobile{
        display: flex;
        
    }
    .header .nav-mobile img{
        width: 30px;
        
    }
    .header .nav{
        display:none;
        gap:50px;
    }
}
    
